[submodule "qgistools"]
	path = qgistools
	url = git@github.com:3nids/qgistools.git
[submodule "qgiscombomanager"]
	path = qgiscombomanager
	url = git@github.com:3nids/qgiscombomanager.git
[submodule "qgissettingmanager"]
	path = qgissettingmanager
	url = git@github.com:3nids/qgissettingmanager.git
